<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="copyright" content>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="../static/img/photo_2023-07-22_23-51-52.jpg" type="image/x-icon">
    <title>SAF</title>

    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="stylesheet" href="../static/css/themify-icons.css" />

</head>

<body class="js">

    <!-- ==== Contact links ==== -->
    <nav class="nav">
      <div class="top__left">
        <div class="left__side">
          <box-icon name="support" color="#00c7ff"></box-icon>
          <p>+86 (139) 1099-8888</p>
        </div>
        <div class="vl"></div>
        <div class="right__side">
          <box-icon name="envelope" color="#00c7ff"></box-icon>
          <p>exemple@gmail.com</p>
        </div>
      </div>
      <div class="top__right">
        <ul class="main__chapter">
          <div class="link">
            <span><box-icon name="map-pin" color="#00c7ff"></box-icon></span>
            <li>Store location</li>
          </div>
          <div class="link">
            <span><box-icon name="alarm" color="#00c7ff"></box-icon></span><a>Daily deal</a>
          </div>
          <div class="link">
            <span><box-icon name="user" color="#00c7ff"></box-icon></span><a>My account</a>
          </div>
          <div class="link">
            <span><box-icon name="lock-alt" color="#00c7ff"></box-icon></span><a>Login</a>
          </div>
        </ul>
      </div>
    </nav>

    <!-- ==== logos & others ==== -->
    <section class="search__logos__chapter">
      <div class="logo">
        <img src="../static/img/logo.png" />
      </div>
      <div class="search">
        <input type="search" placeholder="Search Products Here..." />
        <span><box-icon name="search" color="#fff"></box-icon></span>
      </div>
      <div class="fav__acc__cart">
        <span><box-icon name="heart" color="#333"></box-icon></span>
        <span><box-icon name="user-circle" color="#333"></box-icon></span>
        <span class="with__two"
          ><box-icon name="shopping-bag" color="#333"></box-icon
        ></span>
      </div>
    </section>

    <!-- ====NavBar==== -->
    <header>
      <nav class="nav__main">
                
        <ul class="nav__links">
          <li><a href="/" class="prostactive" style="color: #fff">Home</a></li>
          <li><a href="/products">Product</a></li>
          <li><a href="#">Service</a></li>
          <li>
            <div class="shop__slide">
              <a href="#" onclick="menuToggle();">Shop</a>
              <i class="ti-angle-down"></i>
              <ul class="shop__content">
                <li><a href="/cart">Cart</a></li>
                <li>Checkout</li>
              </ul>
            </div>
          </li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </nav>
    </header>



  <!-- <div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a href="index1.html">Home<i class="ti-arrow-right"></i></a></li>
                        <li class="active"><a href="blog-single.html">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </div> -->

  <!-- ==== Content ==== -->
  <section id="contact-copy" class="contact-copy section">
      <!-- <div class="container"> -->
          <div class="contact-head">
              <div class="row">
                  <div class="col-lg-8 col-12">
                      <div class="form-main">
                          <div class="title">
                              <h4>Get in touch</h4>
                              <h3>Write us a message</h3>
                          </div>
                          <form class="form" method="post" action="mail/mail.php">
                              <div class="row">
                                  <div class="col-lg-6 col-12">
                                      <div class="form-group">
                                          <label>Your Name<span>*</span></label>
                                          <input name="name" type="text" placeholder>
                                      </div>
                                  </div>
                                  <div class="col-lg-6 col-12">
                                      <div class="form-group">
                                          <label>Your Subjects<span>*</span></label>
                                          <input name="subject" type="text" placeholder>
                                      </div>
                                  </div>
                                  <div class="col-lg-6 col-12">
                                      <div class="form-group">
                                          <label>Your Email<span>*</span></label>
                                          <input name="email" type="email" placeholder>
                                      </div>
                                  </div>
                                  <div class="col-lg-6 col-12">
                                      <div class="form-group">
                                          <label>Your Phone<span>*</span></label>
                                          <input name="company_name" type="text" placeholder>
                                      </div>
                                  </div>
                                  <div class="col-12">
                                      <div class="form-group message">
                                          <label>your message<span>*</span></label>
                                          <textarea name="message" placeholder></textarea>
                                      </div>
                                  </div>
                                  <div class="col-12">
                                      <div class="form-group button">
                                          <button type="submit" class="btn ">Send Message</button>
                                      </div>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
                  <div class="col-lg-4 col-12">
                      <div class="single-head">
                          <div class="single-info">
                              <i class="fa fa-phone"></i>
                              <h4 class="title">Call us Now:</h4>
                              <ul>
                                  <li>+123 456-789-1120</li>
                                  <li>+522 672-452-1120</li>
                              </ul>
                          </div>
                          <div class="single-info">
                              <i class="fa fa-envelope-open"></i>
                              <h4 class="title">Email:</h4>
                              <ul>
                                  <!-- <li><a href="/cdn-cgi/l/email-protection#86efe8e0e9c6ffe9f3f4f1e3e4f5eff2e3a8e5e9eb"><span class="__cf_email__" data-cfemail="94fdfaf2fbd4edfbe1e6e3f1f6e7fde0f1baf7fbf9">[email&#160;protected]</span></a></li>
<li><a href="/cdn-cgi/l/email-protection#e68f888089a69f899394918384958f9283c885898b"><span class="__cf_email__" data-cfemail="4a393f3a3a25383e0a33253f383d2f2839233e2f64292527">[email&#160;protected]</span></a></li> -->
                              </ul>
                          </div>
                          <div class="single-info">
                              <i class="fa fa-location-arrow"></i>
                              <h4 class="title">Our Address:</h4>
                              <ul>
                                  <li>KA-62/1, Travel Agency, 45 Grand Central Terminal, New York.</li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      <!-- </div> -->
  </section>


  <!-- <div class="map-section">
      <div id="myMap"></div>
  </div> -->


  <!-- <section class="shop-newsletter section">
      <div class="container">
          <div class="inner-top">
              <div class="row">
                  <div class="col-lg-8 offset-lg-2 col-12">

                      <div class="inner">
                          <h4>Newsletter</h4>
                          <p> Subscribe to our newsletter and get <span>10%</span> off your first purchase</p>
                          <form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
                              <input name="EMAIL" placeholder="Your email address" required type="email">
                              <button class="btn">Subscribe</button>
                          </form>
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </section> -->


  <footer class="footer">

      <div class="footer-top section">
          <div class="container">
              <div class="row">
                  <div class="col-lg-5 col-md-6 col-12">

                      <div class="single-footer about">
                          <section class="search__logos__chapter">
                            <div class="logo">
                              <a href="index.html"><img src="../static/img/logo2.png" alt="#"></a>
                            </div>
                            <p class="text">Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, magna
                              eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor,
                              facilisis luctus, metus.</p>
                            <p class="call">Got Question? Call us 24/7<span><a href="tel:123456789">+0123 456
                                  789</a></span></p>
                          </section>
                      </div>

                  </div>
                  <div class="col-lg-2 col-md-6 col-12">

                      <div class="single-footer links">
                          <h4>Information</h4>
                          <ul>
                              <li><a href="#">About Us</a></li>
                              <li><a href="#">Faq</a></li>
                              <li><a href="#">Terms & Conditions</a></li>
                              <li><a href="#">Contact Us</a></li>
                              <li><a href="#">Help</a></li>
                          </ul>
                      </div>

                  </div>
                  <div class="col-lg-2 col-md-6 col-12">

                      <div class="single-footer links">
                          <h4>Customer Service</h4>
                          <ul>
                              <li><a href="#">Payment Methods</a></li>
                              <li><a href="#">Money-back</a></li>
                              <li><a href="#">Returns</a></li>
                              <li><a href="#">Shipping</a></li>
                              <li><a href="#">Privacy Policy</a></li>
                          </ul>
                      </div>

                  </div>
                  <div class="col-lg-3 col-md-6 col-12">

                      <div class="single-footer social">
                          <h4>Get In Tuch</h4>

                          <div class="contact">
                              <ul>
                                  <li>NO. 342 - London Oxford Street.</li>
                                  <li>012 United Kingdom.</li>
                                  <!-- <li><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="fc95929a93bc998f94938cd29f9391">[email&#160;protected]</a></li> -->
                                  <li>+032 3456 7890</li>
                              </ul>
                          </div>

                          <ul>
                              <li><a href="#"><i class="ti-facebook"></i></a></li>
                              <li><a href="#"><i class="ti-twitter"></i></a></li>
                              <li><a href="#"><i class="ti-flickr"></i></a></li>
                              <li><a href="#"><i class="ti-instagram"></i></a></li>
                          </ul>
                      </div>

                  </div>
              </div>
          </div>
      </div>

      <div class="copyright">
          <div class="container">
              <div class="inner">
                  <div class="row">
                      <div class="col-lg-6 col-12">
                          <div class="left">
                              <!-- <p>Copyright © 2020 <a href="http://www.wpthemesgrid.com" target="_blank">Wpthemesgrid</a> - All Rights Reserved.</p> -->
                          </div>
                      </div>
                      <div class="col-lg-6 col-12">
                          <div class="right">
                              <img src="../static/img/payments.png" alt="#">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </footer>

  <script src="../static/js/scripts.js"></script>
  <!-- <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script> -->
</body>

</html>