<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="icon" href="../static/img/photo_2023-07-22_23-51-52.jpg" type="image/x-icon">
    <title>SAF</title>
  </head>
  <body>
    <!-- ==== Contact links ==== -->
    <nav class="nav">
      <div class="top__left">
        <div class="left__side">
          <box-icon name="support" color="#00c7ff"></box-icon>
          <p>+86 (139) 1099-8888</p>
        </div>
        <div class="vl"></div>
        <div class="right__side">
          <box-icon name="envelope" color="#00c7ff"></box-icon>
          <p>exemple@gmail.com</p>
        </div>
      </div>
      <div class="top__right">
        <ul class="main__chapter">
          <div class="link">
            <span><box-icon name="map-pin" color="#00c7ff"></box-icon></span>
            <li>Store location</li>
          </div>
          <div class="link">
            <span><box-icon name="alarm" color="#00c7ff"></box-icon></span
            ><a>Daily deal</a>
          </div>
          <div class="link">
            <span><box-icon name="user" color="#00c7ff"></box-icon></span
            ><a>My account</a>
          </div>
          <div class="link">
            <span><box-icon name="lock-alt" color="#00c7ff"></box-icon></span
            ><a>Login</a>
          </div>
        </ul>
      </div>
    </nav>

    <!-- ==== logos & others ==== -->
    <section class="search__logos__chapter">
      <div class="logo">
        <img src="../static/img/logo.png" />
      </div>
      <!-- <div class="slider_mini">
            <span>All Category</span>
            <ul class="links__mini">
                <li>All Category</li>
                <li>Watch</li>
                <li>Mobile</li>
                <li>Kid's Item</li>
            </ul>
        </div> -->
      <div class="search">
        <input type="search" placeholder="Search Products Here..." />
        <span><box-icon name="search" color="#fff"></box-icon></span>
      </div>
      <div class="fav__acc__cart">
        <span><box-icon name="heart" color="#333"></box-icon></span>
        <span><box-icon name="user-circle" color="#333"></box-icon></span>
        <span class="with__two"
          ><box-icon name="shopping-bag" color="#333"></box-icon
        ></span>
      </div>
    </section>

    <!-- ====NavBar==== -->
    <header>
      <nav class="nav__main">
        <div class="categories">
          <div class="burger" onclick="categorToggleslide()">
            <div class="line-1"></div>
            <div class="line-2"></div>
            <div class="line-3"></div>
          </div>
          <h1 class="Main_text_categor">CATEGORIES</h1>
          <ul class="categor__slide">
            <li>
              <a href="#"
                >New Arrivals<box-icon
                  class="categor__icon__left"
                  name="chevron-right"
                ></box-icon
              ></a>
            </li>
            <li>
              <a href="#"
                >Best Selling
                <box-icon
                  class="categor__icon__left"
                  name="chevron-right"
                ></box-icon
              ></a>
            </li>
            <li><a href="#">Accessories</a></li>
            <li><a href="#">Top 100 Offer</a></li>
            <li><a href="#">Sunglass</a></li>
            <li><a href="#">Watch</a></li>
            <li><a href="#">Man's Product</a></li>
            <li><a href="#">Ladies</a></li>
            <li><a href="#">Westrn Dress</a></li>
            <li><a href="#">Denim</a></li>
          </ul>
        </div>

        <ul class="nav__links">
          <li><a href="/" class="prostactive" style="color: #fff">Home</a></li>
          <li><a href="/products">Product</a></li>
          <li><a href="#">Service</a></li>
          <li>
            <div class="shop__slide">
              <a href="#" onclick="menuToggle();">Shop</a>
              <ul class="shop__content">
                <li>Cart</li>
                <li>Checkout</li>
              </ul>
            </div>
          </li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </nav>
    </header>
    
    <!-- ==== Content ==== -->
    <section class="container">
      <!-- firts part -->

      <div class="first__part">
        <div class="content__around__nav">
          <div class="content__text">
            <h2>up to 50% off</h2>
            <h1>Shirt For Man</h1>
            <p>
              Maboriosam in a nesciung eget magnae <br />
              dapibus disting tloctio in the find it pereri <br />
              odiy maboriosm.
            </p>
            <a href="#" class="btn shop__btn">Shop Now!</a>
          </div>
          <div class="shirt__img">
            <img src="../static/img/shirt.jpg" alt="" />
          </div>
        </div>
      </div>

      <!-- ==== second part ==== -->

      <div class="mini__banners">
        <div class="rows">
          <div class="mini__banners_text">
            <p class="mini_banner_mini_text blue">Man's Collections</p>
            <h2 class="mini__banner__main__text">
              Summer Travel <br />
              Collection
            </h2>
            <a href="#" class="banner__btn">Discover Now</a>
          </div>
          <div class="mini__banners_img">
            <img src="../static/img/mini-banner1.jpg" />
          </div>
        </div>
        <div class="rows">
          <div class="mini__banners_text">
            <p class="mini_banner_mini_text blue">Bag Collections</p>
            <h2 class="mini__banner__main__text">
              Awesome Bag <br />
              2023
            </h2>
            <a href="#" class="banner__btn_shop">Shop Now</a>
          </div>
          <div class="mini__banners_img">
            <img src="../static/img/mini-banner2.jpg" />
          </div>
        </div>
        <div class="rows">
          <div class="mini__banners_text">
            <p class="mini_banner_mini_text blue">Flash Sale</p>
            <h2 class="mini__banner__main__text">
              Mid Season<br />
              Up To <span class="blue">40%</span> Off
            </h2>
            <a href="#" class="banner__btn">Discover Now</a>
          </div>
          <div class="mini__banners_img">
            <img src="../static/img/mini-banner3.jpg" />
          </div>
        </div>
      </div>
      <!-- ==== third part ==== -->
      <h2 class="section__texts">Trending Item</h2>
      <p class="section__texts2"></p>
      <div class="trending_item">
        <nav class="trending__nav">
          <ul class="trending__nav__links">
            <li><a href="#" class="prostactive trend__nav__man">Man</a></li>
            <li><a href="#">Woman</a></li>
            <li><a href="#">Kids</a></li>
            <li><a href="#">Accessories</a></li>
            <li><a href="#">Essential</a></li>
            <li><a href="#">Prices</a></li>
          </ul>
        </nav>

        <div class="products">
          <div class="elements">
            <img src="../static/img/appleX.png" class="product__img" />
            <div class="img__slide">
              <div class="div__text__addcart">
                <p>add to cart</p>
              </div>
              <div class="img__slide_icons">
                <i class="bx bx-show slide__icon"></i>
                <i class="bx bx-heart slide__icon"></i>
                <i class="bx bx-objects-vertical-bottom slide__icon"></i>
              </div>
            </div>
            <div class="product__txts">
              <p class="product__title">Iphone Xs</p>
              <p class="product__price">$400</p>
            </div>
          </div>
          <div class="elements">
            <img src="../static/img/hudi-bape-bvpco9w.png" class="product__img" />
            <div class="img__slide">
              <div class="div__text__addcart">
                <p>add to cart</p>
              </div>
              <div class="img__slide_icons">
                <i class="bx bx-show slide__icon"></i>
                <i class="bx bx-heart slide__icon"></i>
                <i class="bx bx-objects-vertical-bottom slide__icon"></i>
              </div>
            </div>
            <div class="product__txts">
              <p class="product__title">Bape-X Hoodui</p>
              <p class="product__price">$15</p>
            </div>
          </div>
          <div class="elements">
            <img src="../static/img/bag2.png" class="product__img" />
            <div class="img__slide">
              <div class="div__text__addcart">
                <p>add to cart</p>
              </div>
              <div class="img__slide_icons">
                <i class="bx bx-show slide__icon"></i>
                <i class="bx bx-heart slide__icon"></i>
                <i class="bx bx-objects-vertical-bottom slide__icon"></i>
              </div>
            </div>
            <div class="product__txts">
              <p class="product__title">Default Bag</p>
              <p class="product__price">$25</p>
            </div>
          </div>
          <div class="elements">
            <img src="../static/img/bag1.png" class="product__img" />
            <div class="img__slide">
              <div class="div__text__addcart">
                <p>add to cart</p>
              </div>
              <div class="img__slide_icons">
                <i class="bx bx-show slide__icon"></i>
                <i class="bx bx-heart slide__icon"></i>
                <i class="bx bx-objects-vertical-bottom slide__icon"></i>
              </div>
            </div>
            <div class="product__txts">
              <p class="product__title">The Biggest Bag</p>
              <p class="product__price">$60</p>
            </div>
          </div>
          <div class="elements">
            <img src="../static/img/product1.jpg" class="product__img" />
            <div class="img__slide">
              <div class="div__text__addcart">
                <p>add to cart</p>
              </div>
              <div class="img__slide_icons">
                <i class="bx bx-show slide__icon"></i>
                <i class="bx bx-heart slide__icon"></i>
                <i class="bx bx-objects-vertical-bottom slide__icon"></i>
              </div>
            </div>
            <div class="product__txts">
              <p class="product__title">Mini Chang Yutgich</p>
              <p class="product__price">$40</p>
            </div>
          </div>
          <div class="elements">
            <img src="../static/img/nikehoodie.png" class="product__img" />
            <div class="img__slide">
              <div class="div__text__addcart">
                <p>add to cart</p>
              </div>
              <div class="img__slide_icons">
                <i class="bx bx-show slide__icon"></i>
                <i class="bx bx-heart slide__icon"></i>
                <i class="bx bx-objects-vertical-bottom slide__icon"></i>
              </div>
            </div>
            <div class="product__txts">
              <p class="product__title">Nike Hoodie</p>
              <p class="product__price">$10</p>
            </div>
          </div>
          <div class="elements">
            <img src="../static/img/xiaomiNote12.png" class="product__img" />
            <div class="img__slide">
              <div class="div__text__addcart">
                <p>add to cart</p>
              </div>
              <div class="img__slide_icons">
                <i class="bx bx-show slide__icon"></i>
                <i class="bx bx-heart slide__icon"></i>
                <i class="bx bx-objects-vertical-bottom slide__icon"></i>
              </div>
            </div>
            <div class="product__txts">
              <p class="product__title">Xiaomi Redmi Note 12 Pro</p>
              <p class="product__price">$280</p>
            </div>
          </div>
          <div class="elements">
            <img src="../static/img/mipad5.png" class="product__img" />
            <div class="img__slide">
              <div class="div__text__addcart">
                <p>add to cart</p>
              </div>
              <div class="img__slide_icons">
                <i class="bx bx-show slide__icon"></i>
                <i class="bx bx-heart slide__icon"></i>
                <i class="bx bx-objects-vertical-bottom slide__icon"></i>
              </div>
            </div>
            <div class="product__txts">
              <p class="product__title">MiPad 5 Pro</p>
              <p class="product__price">$257</p>
            </div>
          </div>
        </div>
      </div>
      <!-- ==== Get Pro -->
      <div class="get__pro_place">
        <p>SAFshop Free Lite Version</p>
        <p class="get__pro__big__text">Currently You Are Using Free <br>
          Lite Version Of SAFshop.</p>
        <p>Please, purchase full version of the template to get all pages,<br>
          features and commercial license.</p>
        <a href="" class="btn__get__pro">Purchase Now</a>
      </div>

      <!-- ==== fourth part ==== -->
      <div class="main__txts__recom">
        <h1 class="main__title__recomend">On Sale</h1>
        <h1 class="main__title__recomend">Best Seller</h1>
        <h1 class="main__title__recomend">Top Viewed</h1>
      </div>
      <div class="recomended__container">
        <div class="on__sale">
          <div class="cols">
            <div class="img__box  ">
              <img src="../static/img/nikehoodie.png">
              <i class='bx bxs-shopping-bag img__icons'></i>
            </div>
            <div class="title__box on__sale__title__box">
              <p>Nike Hoodie</p>
              <p class="price">$25</p>
            </div>
          </div>
          <div class="cols">
            <div class="img__box  ">
              <img src="../static/img/mipad5.png">
              <i class='bx bxs-shopping-bag img__icons'></i>
            </div>
            <div class="title__box on__sale__title__box">
              <p>MiPad 5 Pro</p>
              <p class="price">$275</p>
            </div>
          </div>
          <div class="cols">
            <div class="img__box  ">
              <img src="../static/img/appleX.png">
              <i class='bx bxs-shopping-bag img__icons'></i>
            </div>
            <div class="title__box on__sale__title__box">
              <p>Iphone Xs</p>
              <p class="price">$485</p>
            </div>
          </div>
        </div>
        <div class="best__seller">
          <div class="cols">
            <div class="img__box  ">
              <img src="../static/img/xiaomiNote12.png">
              <i class='bx bxs-shopping-bag img__icons'></i>
            </div>
            <div class="title__box on__sale__title__box">
              <p>Redmi Note 12</p>
              <p class="price">$310</p>
            </div>
          </div>
          <div class="cols">
            <div class="img__box  ">
              <img src="../static/img/bag1.png">
              <i class='bx bxs-shopping-bag img__icons'  ></i>
            </div>
            <div class="title__box on__sale__title__box">
              <p>Biggest Bag</p>
              <p class="price">$40</p>
            </div>
          </div>
          <div class="cols">
            <div class="img__box  ">
              <img src="../static/img/hudi-bape-bvpco9w.png">
              <i class='bx bxs-shopping-bag img__icons'></i>
            </div>
            <div class="title__box on__sale__title__box">
              <p>Nike Hoodie</p>
              <p class="price">$25</p>
            </div>
          </div>
          
        </div>
        <div class="top__viewed">
          <div class="cols">
            <div class="img__box  ">
              <img src="../static/img/bag2.png">
              <i class='bx bxs-shopping-bag img__icons'></i>
            </div>
            <div class="title__box on__sale__title__box">
              <p>Default Bag</p>
              <p class="price">$25</p>
            </div>
          </div>
          <div class="cols">
            <div class="img__box  ">
              <img src="../static/img/mipad5.png">
              <i class='bx bxs-shopping-bag img__icons'></i>
            </div>
            <div class="title__box on__sale__title__box">
              <p>MiPad 5 Pro</p>
              <p class="price">$265</p>
            </div>
          </div>
          <div class="cols">
            <div class="img__box  ">
              <img src="../static/img/nikehoodie.png">
              <i class='bx bxs-shopping-bag img__icons'></i>
            </div>
            <div class="title__box on__sale__title__box">
              <p>Nike Hoodie</p>
              <p class="price">$25</p>
            </div>
          </div>
        </div>
      </div>

      <!-- ==== Fifth part ==== -->

      <h2 class="section__texts">From Our Blog</h2>
      <p class="section__texts2"></p>
      <div class="from_our_blog">
        <div class="rows_from_our_blog">
          <img src="../static/img/blog1.jpg" alt="">
          <div class="from_our_blog_txts">
            <p>22 July , 2020. Monday</p>
            <h2>Sed adipiscing ornare.</h2>
            <a>Continue Reading</a>
          </div>
        </div>
        <div class="rows_from_our_blog">
          <img src="../static/img/blog2.jpg" alt="">
          <div class="from_our_blog_txts">
            <p>22 July , 2020. Monday</p>
            <h2>Man’s Fashion Winter Sale</h2>
            <a>Continue Reading</a>
          </div>
        </div>
        <div class="rows_from_our_blog">
          <img src="../static/img/blog3.jpg" alt="">
          <div class="from_our_blog_txts">
            <p>22 July , 2020. Monday</p>
            <h2>Women Fashion Festive</h2>
            <a>Continue Reading</a>
          </div>
        </div>
      </div>

      <!-- ==== six part ==== -->

      <div class="offers">
        <div class="rows__offers">
          <img src="../static/img/photo_2023-07-23_17-29-23.jpg" alt="">
          <div class="text__offers">
            <p class="f__txt__offers">FREE SHIPING</p>
            <p class="s__txt__offers">Orders over $100</p>
          </div>
        </div>
        <div class="rows__offers">
          <img src="../static/img/retry.jpg" alt="">
          <div class="text__offers">
            <p class="f__txt__offers">FREE RETURN</p>
            <p class="s__txt__offers">Within 30 days returns</p>
          </div>
        </div>
        <div class="rows__offers">
          <img src="../static/img/lock.jpg" alt="">
          <div class="text__offers">
            <p class="f__txt__offers">SECURE PAYMENT</p>
            <p class="s__txt__offers">100% secure payment</p>
          </div>
        </div>
        <div class="rows__offers">
          <img src="../static/img/tag.jpg" alt="">
          <div class="text__offers">
            <p class="f__txt__offers">BEST PEICE</p>
            <p class="s__txt__offers">Guaranteed price</p>
          </div>
        </div>
      </div>
    </section>
    <script src="../static/js/scripts.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  </body>
</html>
